.find{
    margin: 0 auto;
    display: block;
    font-size: 32px;
    padding: 20px;
    cursor: pointer;
}

.addressCard {
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    width: 200px;
    display: block;
    border-radius: 10px;
    background-color: #ccc;
}